server/node_modules/
client/node_modules/
dist/
.env
.vscode/
.DS_Store
.idea/
coverage/
npm-debug.log
yarn-error.log
*.log
*.tsbuildinfo
/build/
.cache/
client/.env
server/.env
aml-fraud-detector/.env
*.local
node_modules/